# DATA TYPE AND STRUCTURE QUESTION

1. What are data structures, and why are they important?

ANS :
Data structures are ways to organize, store, and manage data efficiently. They are important because they enable efficient access and modification of data, which is critical for performance in algorithms and applications.

2. Explain the difference between mutable and immutable data types with examples.

ANS :
Mutable: Can be changed after creation (e.g., list, dict, set).

Immutable: Cannot be changed after creation (e.g., int, float, str, tuple).

3. What are the main differences between lists and tuples in Python?

ANS :
List: Mutable, dynamic size, slower.

Tuple: Immutable, fixed size, faster and can be used as dictionary keys.

4. Describe how dictionaries store data.

ANS :
Dictionaries store data as key-value pairs using a hash table internally, allowing fast retrieval using keys.

5. Why might you use a set instead of a list in Python?

ANS :
Use a set to store unique elements and when order doesn’t matter. Sets are faster for membership tests.

6. What is a string in Python, and how is it different from a list?

ANS :
A string is a sequence of characters. Unlike lists, strings are immutable and contain only characters, not mixed data types.

7. How do tuples ensure data integrity in Python?

ANS :
Tuples are immutable, meaning their contents cannot be changed, ensuring data remains constant.

8. What is a hash table, and how does it relate to dictionaries in Python?

ANS :
A hash table is a data structure that maps keys to values using a hash function. Python dictionaries are implemented using hash tables.

9. Can lists contain different data types in Python?

ANS :
Yes, Python lists are heterogeneous, allowing elements of different data types.

10. Explain why strings are immutable in Python.

ANS :
Strings are immutable to ensure security, consistency, and to allow hashing for use as keys in dictionaries.

11. What advantages do dictionaries offer over lists for certain tasks?

ANS :
Dictionaries offer faster lookups (O(1)) by key and better data organization through key-value pairs.

12. Describe a scenario where using a tuple would be preferable over a list.

ANS :
Tuples are better when the data shouldn’t change, like coordinates (x, y) or as keys in a dictionary.

13. How do sets handle duplicate values in Python?

ANS :
Sets automatically eliminate duplicates, storing only unique elements.

14. How does the “in” keyword work differently for lists and dictionaries?

ANS :
List: Checks if a value exists.

Dictionary: Checks if a key exists.

15. Can you modify the elements of a tuple? Explain why or why not.

ANS :
No, tuples are immutable, so their elements cannot be changed after creation.

16. What is a nested dictionary, and give an example of its use case?

ANS :
A nested dictionary is a dictionary within another dictionary.
Example: students = {"Alice": {"age": 21, "grade": "A"}}

17. Describe the time complexity of accessing elements in a dictionary.

ANS :
Accessing an element by key in a dictionary has an average time complexity of O(1).

18. In what situations are lists preferred over dictionaries?

ANS :
Use lists when order matters, or when storing sequential data without unique keys.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

ANS :
Before Python 3.7, dictionaries did not preserve insertion order. Retrieval is based on keys, not position, which can affect iteration order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

ANS :
List: Access by index, slower for searching (O(n)).

Dictionary: Access by key, faster (O(1)).

# PRACTICAL QUESTION

1. Write a code to create a string with your name and print it.

In [30]:

name = "Rahul Verma"
print(name)

Rahul Verma

2. Write a code to find the length of the string "Hello World".

In [29]:

text = "Hello World"
print(len(text))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [28]:
string = "Python Programming"
print(string[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [27]:
s = "hello"
print(s.upper())

HELLO



5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [26]:
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange


6. Write a code to create a list with numbers 1 to 5 and print it.

In [25]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [24]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [23]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]



9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [22]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [21]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

11. Tuple with 100, 200, 300

In [20]:
t = (100, 200, 300)
print(t)

(100, 200, 300)


12. Second-to-last element from a tuple

In [19]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13. Minimum in tuple

In [18]:
nums = (10, 20, 5, 15)
print(min(nums))

5


14. Index of "cat"

In [17]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

15. Check if "kiwi" is in tuple

In [16]:
fruits = ('apple', 'banana', 'mango')
print('kiwi' in fruits)

False

16. Create set with 'a', 'b', 'c'

In [15]:
s = {'a', 'b', 'c'}
print(s)

{'a', 'b', 'c'}

17. Clear all elements from a set

In [14]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()


18. Remove 4 from set

In [13]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}


19. Union of sets

In [12]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

20. Intersection of sets

In [11]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}


21. Create dictionary and print

In [10]:
d = {'name': 'John', 'age': 25, 'city': 'New York'}
print(d)

{'name': 'John', 'age': 25, 'city': 'New York'}


22. Add key-value pair to dictionary

In [9]:
d = {'name': 'John', 'age': 25, 'city': 'New York'}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'city': 'New York', 'country': 'USA'}


23. Access value by key

In [8]:
d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

24. Remove key "age"

In [7]:

d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')
print(d)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary

In [6]:
d = {'name': 'Alice', 'city': 'Paris'}
print('city' in d)

True


26. Create list, tuple, and dictionary

In [5]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

27. 5 random numbers sorted

In [4]:
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[9, 23, 47, 81, 96]

28. List with strings and print third

In [3]:
words = ['apple', 'banana', 'cherry', 'date']
print(words[2])

cherry

29. Combine two dictionaries

In [2]:
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}


30. Convert list of strings to set

In [1]:

lst = ['apple', 'banana', 'cherry', 'apple']
s = set(lst)
print(s)

{'apple', 'cherry', 'banana'}